@charset "utf-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}

html,
body {
  height: 100%;
  width: 100%;
  background: #F9E0FF;
}

.container{
	width:1200px;
	height:1600px;
	margin:0px auto;
}

.logo{
	width:300px;
	margin:0px auto;
	text-align:center;
	margin-top:30px;
	height:120px;
}

.logo .caption{
	float:left;
	margin-top:50px;
	font-weight:bold;
	font-size:5.0em;
	color:#FFB047
}

.content .lza{
  	width:600px;
  	height:500px;
  	float:left;
	margin-top:50px;
  	background:#FFF9C1;
  
  	display:inline-block
}

.content .fzd{
  	width:600px;
  	height:500px;
  	float:left;
	margin-top:150px;
  	background:#FFC1C1;
  
  	display:inline-block
}

.content .lll{
  	width:600px;
  	height:500px;
  	float:left;
  	background:#F2FFF2;
  
  	display:inline-block
}

.content .fff{
  	width:600px;
  	height:500px;
  	float:right;
	margin-top:100px;
  	background:#C9F5FF;
  
  	display:inline-block
}

footer{
  width:1200px;
  background:#A177CD;
  color:white;
  height:100px;
  margin-top:20px;
  display:inline-block
}

footer p{
	font-size:30px;
	text-align:center;
}

.ff{
	margin-top:20px;
	margin-left:400px;
}






